* text=auto !eol
/__init__.py -text
command_line/fetch_test_data.py -text
/libtbx_config -text
/readme.txt -text
/run_tests.py -text
test/__init__.py -text
test/xia2/__init__.py -text
test/xia2/tst_X4_wide.py -text
test/xia2/tst_mad_example.py -text
util/__init__.py -text
util/download.py -text
util/fetch_test_data.py -text
